
.login-modal {
    z-index: 2;
    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
    background: rgba(211, 211, 211, 0.9);
    // display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    opacity: 0;
    display: none;
    .login-content {
        height: 30vh;
        min-height: 300px;
        width: 400px;
        background: white;
        position: relative;
        padding: 60px;
        display: flex;
        align-items: center;
        position: fixed;
        top: 32.5vh;
        border-bottom: 20px solid @nonbackground-header-color;
        max-width: 100%;
        @media @landscape {
            top: 5vh;
        }
        filter: none;
        input {
            width: 100%;
            height: 40px;
            margin: 20px 0;
            border: 1px solid black;
            padding-left: 6px;
            font-size: 1.8rem;
            &:focus{
                outline: none;
                background: @nonbackground-header-color;
                color: @highlight-text-with-backgroud;
            }
        }
        .submit-login {
            margin: 20px 0;
            border: 3px solid black;
            height: 60px;
            width: 100%;
            font-size: 2rem;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            background: @nonbackground-header-color;
            color: @highlight-text-with-backgroud;
            transition: 0.3s;
            p {
                font-size: 1.8rem;
            }
            &:hover {
                background: darken(@nonbackground-header-color, 20%);
                cursor: pointer;
            }
        }

        .close-modal {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 40px;
            transition: 0.3s;
            &:hover {
                color:@nonbackground-header-color;
                cursor: pointer;
            }
        }
    }
}
.hide{
    display: none;
}
