.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 95vw;
    min-width: 1200px;
    // min-width: 1440px;
    @media @small {
        width: 100%;
        min-width: 0;
    }
    h2 {
        text-align: center;
        @media @small {
            margin: 50px 0 30px 0;
        }
    }
   
    .row {
        display: flex;
        height: 80%;
        @media @small {
            flex-direction: column;
         }
        .column {
           
            color: @main-text-with-background;
            display: flex;
            max-width: 33%;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background: @main-back-ground-color;
            margin: 0 10px;
            font-size: 1.7rem;
            min-width: 370px;
            min-height: 510px;
            border-bottom: 20px solid @nonbackground-header-color; 
            .card-container{
                padding-left: 20px;
                padding-right: 20px;
                height: 100%;
                @media @small {
                    height: 300px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                }
                h3{
                    padding-top: 10%;
                    @media @small {
                   
                    }
                }
            } 
            @media @small {
                max-width: 100%;
                min-width: 0;
                width: 75%;
                margin: 20px auto;
                font-size: 1.8rem;
             }
        }
    }
    img {
        
        max-height: 300px;
        height: 100%;
        width: 100%;
        
    }
    p {
        font-size: 1.7rem;
        line-height: 1.3;
        padding-top: 6%;
        padding-bottom: 6%;

    }
}