.about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    
    h2 {
        padding: 15px;
        padding-top: 40px;
        text-align: center;
    }
   
    .row {
        display: flex;
        height: 70%;
        @media @small {
            flex-direction: column;
         }
        .column {
            color: @main-text-with-background;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 15px;
            background: @main-back-ground-color;
            margin: 10px;
            @media @small {
                width: 70%;
                margin: 20px auto;
             }
        }
    }
    p {
        font-size: 1.7rem;
        padding: 0 5% 5% 5%;
    }
    .icon-container {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        border: 2px solid black;
        border-radius: 100px;
        width: 30%;
        
        margin-bottom: 15px; 
        &:before{
            content: "";
            display: block;
            padding-top: 100%;  /* ratio of 1:1*/
        }
    }
}