.how-to {
    margin: 0 5vw;
    @media @small {
        align-self: stretch;
        margin: 0 0;
    }
    .steps {
        background-color: @main-back-ground-color;
        color: @main-text-with-background;
        width: 300px;
        height: 100%;
        border-bottom: 20px solid @nonbackground-header-color; 
        margin-bottom: 3%;
        @media @small {
            flex-direction: row;
            width: 80%;
            padding: 5% 0;
        }
        @media @phone {
            width: 80%;
        }
    }
    .step {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 27%;
        flex-shrink: 0;
        text-align: center;    
    }
    .icon-container {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        border: 2px solid @main-text-with-background;
        border-radius: 100px;
        width: 55px;
        height: 55px;
        ion-icon {
            font-size: 35px;
        }
        @media @small {
            margin-top: 20px;
        }
    }
    .arrow {
        text-align: center;
        width: 100%;
        font-size: 30px;
    }
}