.side-scroll {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden; 
    padding-top: 3%;
    padding-bottom: 3%;
    h2 {
       margin-top: 5%;
    }
    @media @small {
       flex-direction: column;
       overflow: visible;
    }
    .side-scroll-section {
         flex-shrink: 0;
         margin-left: 4vw;
         margin-right: 4vw;
        h3 {
           color: @highlight-text-with-backgroud;
        }
         
   }
   &::-webkit-scrollbar {
      width: 2px;
   }
}
